<div class="container pt-4 d-flex justify-content-center">
  <div class="card p-3 justify-content-center" style="width: 50rem;">
    <div class="card-body">

      <div class="row justify-content-center">
        <h2>Modifier Mes Informations<%= resource_name.to_s.humanize %></h2>
      </div>

      <div class="row justify-content-center">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>


        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <%= f.input :password,
                      hint: "leave it blank if you don't want to change it",
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :current_password,
                      hint: "we need your current password to confirm your changes",
                      required: true,
                      input_html: { autocomplete: "current-password" } %>

        </div>
      </div>

      <div class="row justify-content-center">
        <div class="form-actions">
          <%= f.button :submit, "Modifier" , class: "btn btn-primary"%>
        </div>
        <% end %>
      </div>

      <div class="row">

         <%= link_to "Suppirmer Mon Compte", registration_path(resource_name), data: { confirm: "Vous êtes sur?" }, method: :delete %></p>
      </div>
      <div class="row">
          <%= link_to "Retourner", :back %>
      </div>
    </div>
  </div>
</div>
