<div class="container w-auto">
  <div class="card shadow border-primary justify-content-between" style="width: 1100px;" id="card-status-dash">
    <div class="row d-flex justify-content-between px-3 top">
      <div class="d-flex">
        <h5>Commande n° <span class="text-primary font-weight-bold" id="order-<%= order.id %>">#<%= order.id %> --- <%= order.product.name%></span></h5>
      </div>
      <div class="d-flex flex-column text-sm-right">
        <p class="mb-0" id="order-<%= order.id %>">Date de livraison estimée : <span><%= order.delivery_date%></span></p>
        <p class="mb-0" id="order-<%= order.id %>">Quantité commandé : <span><%=  number_with_delimiter(order.product_quantity, delimiter: " ") %> unités</span></p>
        <p class="mb-0" id="order-<%= order.id %>">Prix : <span><%=  number_with_delimiter(order.price_cents, delimiter: " ") %> €</span></p>
        <p>UPS <span class="font-weight-bold" id="order-<%= order.id %>">42423422898</span></p>
       <% if current_user.role == "buyer" && order.delivered_status == true && order.rating.present? %>
        <p class="mb-0" id="order-<%= order.id %>">Note : <span><%=  order.rating.grade %></span></p>
        <% end %>
      </div>
    </div> <!-- Add class 'active' to progress -->

    <div class="row d-flex justify-content-center">
      <div class="col-12">
        <ul id="progressbar" class="text-center">
          <% if order.status == true %>
            <li class="active step0"></li>
          <% else %>
            <li class="step0"></li>
          <% end %>

          <% if order.shipped_status == true %>
            <li class="active step0"></li>
          <% else %>
            <li class="step0"></li>
          <% end %>

          <% if order.shipped_status == true %>
            <li class="active step0"></li>
          <% else %>
            <li class="step0"></li>
          <% end %>

          <% if order.delivered_status == true %>
            <li class="active step0"></li>
          <% else %>
            <li class="step0"></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="row justify-content-between top">
      <div class="row d-flex icon-content"> <img class="icon" src="https://i.imgur.com/9nnc9Et.png">
          <div class="d-flex flex-column">
              <p class="font-weight-bold"><br>Validé</p>
          </div>
      </div>
      <div class="row d-flex icon-content"> <img class="icon" src="https://i.imgur.com/u1AzR7w.png">
          <div class="d-flex flex-column">
              <p class="font-weight-bold"><br>Envoyé</p>
          </div>
      </div>
      <div class="row d-flex icon-content"> <img class="icon" src="https://i.imgur.com/TkPm63y.png">
          <div class="d-flex flex-column">
              <p class="font-weight-bold"><br>En Route</p>
          </div>
      </div>
      <div class="row d-flex icon-content"> <img class="icon" src="https://image.flaticon.com/icons/png/512/861/861452.png">
          <div class="d-flex flex-column">
              <p class="font-weight-bold"><br>Arrivée</p>
          </div>
      </div>
    </div>

  <% if current_user.role == "supplier" %>
    <div class="row justify-content-center mb-3">
      <%= link_to 'Modifier le statut', edit_order_path(order), class:"btn btn-primary"%>
    </div>
  <% end %>


    <% if current_user.role == "buyer" && order.delivered_status == true %>
      <div class="row justify-content-center mb-3">
        <%= link_to 'Noter', new_order_rating_path(order), class:"btn btn-primary"%>
      </div>
    <% end %>
  </div>
</div>




