<div class="main-container">
  <div class="cards" id="custom-cards">
    <div class="card" style="width: 18rem;" id="cardgrid">
      <div class="card-body">
        <h4 class="card-title" style="color: #FF6713"><%= request.product_quantity %></h4>
        <p class="card-text"><%= request.product.name%></p>
        <p class="card-text"><%= request.created_at%></p>
        <p class="card-text"><%= request.shipping_date%></p>
        <p class="card-text"><%= request.delivery_date%></p>
        <p class="card-text"><%= request.status%></p>
        <div class="flat-card-actions">
          <%= link_to 'form_edit', edit_order_path(request) %>
        </div>
      </div>
    </div>
  </div>
</div>



