<div class="container">
  <div class="card mb-3" style="width: 1100px;">
    <div class="row no-gutters">
      <div class="col-md-3 p-5 justify-content-center">
        <% if request.product.picture.attached? %>
          <%= cl_image_tag request.product&.picture.key, alt: "alttext", class: "card-img center img-fluid mx-auto" %>
        <% end %>
      </div>
      <div class="col-md-9">
        <div class="card-body">
          <h5>Commande n° <span class="text-primary font-weight-bold">#<%= request.id %></span></h5>

          <p class="card-text", id="request-<%= request.id %>"><%= request.product.name%></p>
          <p class="card-text", id="request-<%= request.id %>">Quantité : <%=  number_with_delimiter(request.product_quantity, delimiter: " ")%> unités</p>
          <% if request.price_cents.present? %>
           <p class="card-text", id="request-<%= request.id %>">Prix : <%= number_with_delimiter(request.price_cents, delimiter: " ") %> €</p>
          <% else %>
           <p class="card-text", id="request-<%= request.id %>">Prix : en cours d'évaluation pour le fournisseur</p>
          <% end %>
            <%= link_to 'Détails du produit', product_path(request.product), class:"btn btn-outline-primary"%>
            <%= link_to 'Valider', edit_order_path(request), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>
