
<div class="main-container">
  <%#= bar_chart @orders.group(:category).sum(:product_quantity) %>
</div>

<div class="row">
  <div class="col-6">
    <% if current_user.role == "supplier" %>
      <div class="card shadow border-primary mb-3 p-5">
        <h3 class="text-primary text-center lead font-weight-bold">Commandes reçues par type de produit</h3>
        <br>
        <%= column_chart @quantity_ordered_category %>
      </div>
  </div>
  <div class="col-6">
      <% if @quantity_requested_category.present?  %>
        <div class="card shadow border-primary mb-3 p-5">
          <h3 class="text-primary text-center lead font-weight-bold">Devis reçus par type de produit</h3>
          <br>
          <%= pie_chart @quantity_requested_category %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <% if current_user.role == "buyer" %>
      <div class="card shadow border-primary mb-3 p-5">
        <h3 class="text-primary text-center lead font-weight-bold">Commandes validées par type de produit</h3>
        <br>
        <%= column_chart @quantity_ordered_category %>
      </div>
  </div>
  <div class="col-6">
      <% if @quantity_requested_category.present?  %>
        <div class="card shadow border-primary mb-3 p-5">
          <h3 class="text-primary text-center lead font-weight-bold">Devis envoyés par type de produit</h3>
          <br>
          <%= pie_chart @quantity_requested_category %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


<div class="card shadow border-primary mb-3 p-5">
  <h3 class="text-primary text-center lead font-weight-bold">Quantités à livrer par date</h3>
  <br>
  <%= line_chart @requests_by_shipping_date %>
</div>




