
    <% if current_user == "supplier" %>
     <%= simple_form_for [@product, @order], url: product_orders_path, method: :patch do |f| %>
     <div class="row">
        <div class="col-6">
          <%= f.input :shipping_date, label:'Shipping Date' %>
        </div>
        <div class="col-6">
          <%= f.input :delivery_date, label:'Delivery Date'%>
        </div>
        <div class="col-6">
          <%= f.input :price_cents, label:'Total price'%>
        </div>
        <%= f.button :submit, "Propose order terms", class: 'btn btn-primary' %>
       <% end %>
    <% end %>
      </div>

    <% if current_user == "buyer" %>
     <%= simple_form_for [@product, @order], url: product_orders_path, method: :patch do |f| %>
       <div class="custom-control custom-switch">
          <%= form.check_box :active, class: "custom-control-input", id: "customSwitch1"   %>
       </div>
       <div class="actions">
     <%= f.button :submit, "valider", class: 'btn btn-primary' %>
    </div>
       <% end %>
    <% end %>

