<div class="container pt-4 col d-flex justify-content-center">
  <div class="card shadow card border-primary p-1 justify-content-center" style="width: 25rem;">
  <h5 class="card-header text-primary text-center">Confirmez le status de la commande</h5>
  <div class="card-body">
    <h5 class="card-title"></h5>
      <% if current_user.role == "supplier" && @order.status == false %>
       <%= simple_form_for [@order], remote: true, url: order_path, method: :patch do |f| %>
          <div class="row">
            <div class="col-6">
              <%= f.input :shipping_date, label:"Date d'expédition", html5:true,
                                                input_html: { type: :date } %>
            </div>
            <div class="col-6">
              <%= f.input :delivery_date, label:"Date de livraison", html5:true,
                                                input_html: { type: :date } %>
            </div>
          </div>
          <div class="row">
            <div class="col-6 mb-2">
              <%= f.input :price_cents, label:'Prix total', placeholder: "Prix en €"%>
            </div>
          </div>
              <%= f.button :submit, "Proposition de devis", class: 'btn btn-primary w-100' %>
      <% end %>
    <% end %>
  </div>

    <% if current_user.role == "supplier" && @order.status == true  %>
       <%= simple_form_for [@order], remote: true, url: order_path, method: :patch do |f| %>
          <div class="row d-flex icon-content justify-content-center">
            <img class="icon" src="https://i.imgur.com/u1AzR7w.png">
            <div class="d-flex flex-column pt-3">
              <%= f.input :shipped_status, label: 'Envoyée', class: "custom-control-input" %>
            </div>
          </div>
          <div class="row d-flex icon-content justify-content-center">
            <img class="icon" src="https://i.imgur.com/HdsziHP.png">
            <div class="d-flex flex-column pt-3 mb-4">
              <%= f.input :delivered_status, label: 'Livrée', class: "custom-control-input"  %>
            </div>
          </div>
          <div class="row d-flex icon-content justify-content-center">
            <%= f.button :submit, "Confirmer", class: 'btn btn-primary w-50' %>
          </div>
       <% end %>
    <% end %>


    <% if current_user.role == "buyer" %>
     <%= simple_form_for [@order], remote: true, url: order_path, method: :patch do |f| %>
      <div class="row d-flex icon-content justify-content-center">
        <img class="icon" src="https://i.imgur.com/9nnc9Et.png">
        <div class="d-flex flex-column pt-3 mb-4">
          <%= f.input :status, label: 'Valdier', class: "custom-control-input"  %>
        </div>
      </div>
      <div class="row d-flex icon-content justify-content-center">
        <%= f.button :submit, "Confirmer", class: 'btn btn-primary w-50' %>
      </div>
       <% end %>
    <% end %>
    </p>
  </div>
</div>


