<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav nav-pills flex-column mb-auto">

          <li class="nav-item">
            <a href="" class="nav-link active" aria-current="page">
              My Account
            </a>
          </li>

          <li id="myorders-tab" data-bs-target="#myorders">
            <a href="" class="nav-link" aria-current="page">
              <i class="fas fa-calendar-alt"></i><use xlink:href="#speedometer2"/>
              My Orders
            </a>
          </li>

          <li id="myrequests-tab" data-bs-target="#myrequests">
            <a href="<% orders_path %>" class="nav-link" aria-current="page">
              <i class="fas fa-key"></i><use xlink:href="#table"/>
              My Requests
            </a>
          </li>

          <li id="accountsetting-tab" data-bs-target="#accountsetting">
            <a href="#" class="nav-link link-dark">
              <i class="fas fa-info-circle"></i><use xlink:href="#grid"/></svg>
              Account Setting
            </a>
          </li>

        </ul>
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 bg-warning pt-3">
      <div class="container pages-container margin-nav">
        <div class="card mb-3">
          <div class="card-body">
            <h2 style="color: #FF6713"><b>My Orders</b></h2>
          </div>
        </div>
      </div>

        <div id="myorders", class="container pages-container margin-nav">
        <div class="card mb-3">
          <div class="card-body">
            <%= link_to 'My Orders', edit_order_path(@order) %>
            <h4 class="card-title" style="color: #FF6713">Order Number <%= @order.user_id %></h4>
            <p class="card-text">Product ID <%= @order.product_id%></p>
            <p class="card-text"><b>Product Quantity <%= @order.product_quantity %></b></p>
            <p class="card-text"><b>Delivery Date <%= @order.delivery_date %></b></p>
            <p class="card-text"><b>Ordered at <%= @order.created_at %></b></p>
            <p class="card-text"><b>Updated at <%= @order.updated_at %></b></p>
            <p class="card-text"><b>Shipping Date <%= @order.shipping_date %></b></p>
          </div>
        </div>
        </div>

        <div id="myrequests", class="container pages-container margin-nav">
        <div class="card mb-3">
          <div class="card-body">
            <%= link_to 'My Requests', new_order_path(@order) %>
            <h4 class="card-title" style="color: #FF6713">Order Number <%= @order.user_id %></h4>
          </div>
        </div>
        </div>

        <div id="accountsetting, class="container pages-container margin-nav">
        <div class="card mb-3">
          <div class="card-body">
            <%= link_to 'My Requests', new_order_path(@order) %>
            <h4 class="card-title" style="color: #FF6713">Order Number <%= @order.user_id %></h4>
          </div>
        </div>
        </div>
    </main>
  </div>
</div>
