<div class="navbar navbar-dark bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Company name</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <% if current_user.role == "supplier" %>
    <h1 class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">Espace fournisseur</h1>
  <% else %>
    <h1 class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">Espace acheteur</h1>
  <% end %>
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link <%= "active" unless params[:tab] %>" id="general-tab" data-toggle="pill" href="#general" role="tab" aria-controls="general" aria-selected="true">
              <i class="fas fa-home"></i>
              Général
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= "active" if params[:tab] == "devis" %>" id="devis-tab request-devis" data-toggle="pill" href="#devis" role="tab" aria-controls="devis" aria-selected="false">
              <i class="fas fa-folder-open"></i>
              Devis
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= "active" if params[:tab] == "commandes" %>" id="commandes-tab" data-toggle="pill" href="#commandes" role="tab" aria-controls="commandes" aria-selected="false">
              <i class="fas fa-receipt"></i>
              Commandes
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= "active" if params[:tab] == "settings" %>" id="settings-tab" data-toggle="pill" href="#settings" role="tab" aria-controls="settings" aria-selected="false">
              <i class="fas fa-info-circle"></i>
              Infos personnelles
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div class="justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="tab-content" id="v-pills-tabContent">

          <div class="tab-pane fade show <%= "active" unless params[:tab] %>" id="general" role="tabpanel" aria-labelledby="general-tab">
            <div class="row">
              <div class="col-6">
                <div class="card shadow border-primary mb-3">
                  <div class="row g-0">
                    <div class="col-md-2">
                      <span style="font-size: 43px; color: #004696;">
                        <i class="fas fa-tag p-5"></i>
                      </span>
                    </div>
                    <div class="col-md-10">
                      <div class="card-body">
                        <h5 class="card-title lead font-weight-bold mb-3 text-primary text-center pt-3 ">Total de commandes</h5>
                        <h3 class="card-text text-center"><%= @requests.count %></h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="card shadow border-primary mb-3">
                  <div class="row g-0">
                    <div class="col-md-2">
                      <span style="font-size: 43px; color: #004696;">
                        <i class="fas fa-receipt p-5"></i>
                      </span>
                    </div>
                    <div class="col-md-10">
                      <div class="card-body">
                        <h5 class="card-title lead font-weight-bold mb-3 text-primary text-center pt-3 ">Nombre de devis</h5>
                        <h3 class="card-text text-center "><%= @orders.count %></h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade <%= "active show" unless params[:tab] %>" id="general" role="tabpanel" aria-labelledby="general-tab">
              <%= render 'dashboard_chart', request: request, text: "validate" %>
            </div>
          </div>

          <div class="tab-pane fade <%= "active show" if params[:tab] == "devis" %>" id="devis" role="tabpanel" aria-labelledby="devis-tab">
            <% @requests.each do |request| %>
              <%= render 'dashboard_request', request: request, text: "validate" %>
            <% end %>
          </div>

          <div class="tab-pane fade <%= "active show" if params[:tab] == "commandes" %>" id="commandes" role="tabpanel" aria-labelledby="commandes-tab">
            <% @orders.each do |order| %>
              <%= render 'dashboard_order', order: order, text: "validate" %>
            <% end %>
          </div>

          <div class="tab-pane fade <%= "active show" if params[:tab] == "settings" %>" id="settings" role="tabpanel" aria-labelledby="settings-tab">
            <div class="card shadow border-primary center">
              <div class="card-body ">
                <%= simple_form_for current_user do |f| %>
                  <div class="row justify-content-center">
                    <div class="col-6">
                      <%= f.input :user_name %>

                    </div>

                    <div class="col-6">
                      <%= f.input :email %>
                    </div>

                    <div class="">
                    </div>
                  </div>

                  <div class="row justify-content-center">
                    <div class="col-12">
                      <%= f.input :company_name %>
                    </div>
                  </div>

                  <div class="row justify-content-center">
                    <div class="col-12">
                      <%= f.input :address %>
                    </div>
                  </div>

                  <div class="row justify-content-center">
                    <div class="col-6">
                      <%= f.input :business_activity %>
                    </div>
                    <div class="col-6">
                      <%= f.input :phone_number %>
                    </div>
                  </div>

                  <div class="row justify-content-center">
                    <%= f.submit 'Modifier', class: "btn btn-primary" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>

