<div class="navbar navbar-dark bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Company name</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <h1 class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">Espace Fournisseur</h1>
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
              <i class="fas fa-home"></i>
              Général
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">
              <i class="fas fa-folder-open"></i>
              Devis
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">
              <i class="fas fa-receipt"></i>
              Commandes
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">
              <i class="fas fa-info-circle"></i>
              Infos personnelles
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="tab-content" id="v-pills-tabContent">

          <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <div class="row">
              <div class="col-6">
                <div class="card" style="height: 110px;">
                  <div class="card-body ">
                    <h5 class="card-text justify-content-center">Nombre de commandes</h5>
                    <h5 class="card-text"><%= @requests.count %></h5>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="card " style="height: 110px;">
                  <div class="card-body">
                    <h5 class="card-text">Nombre de devis: </h5>
                    <h5 class="card-text"><%= @orders.count %></h5>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
            </div>
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
              <%= render 'dashboard_chart', request: request, text: "validate" %>
            </div>
          </div>

          <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <% @requests.each do |request| %>
              <%= render 'dashboard_request', request: request, text: "validate" %>
            <% end %>
          </div>

          <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
            <% @orders.each do |order| %>
              <%= render 'dashboard_order', order: order, text: "validate" %>
            <% end %>
          </div>

          <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
            <div class="card center">
              <div class="card-body ">
                <%= simple_form_for current_user do |f| %>
                  <div class="row justify-content-center">
                    <div class="col-6">
                      <%= f.input :user_name %>

                    </div>

                    <div class="col-6">
                      <%= f.input :email %>
                    </div>

                    <div class="">
                    </div>
                  </div>

                  <div class="row justify-content-center">
                    <div class="col-12">
                      <%= f.input :company_name %>
                    </div>
                  </div>

                  <div class="row justify-content-center">
                    <div class="col-12">
                      <%= f.input :address %>
                    </div>
                  </div>

                  <div class="row justify-content-center">
                    <div class="col-6">
                      <%= f.input :business_activity %>
                    </div>
                    <div class="col-6">
                      <%= f.input :phone_number %>
                    </div>
                  </div>

                  <div class="row justify-content-center">
                    <%= f.submit 'Modifier', class: "btn btn-primary" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>

