<main class="mt-2 pt-4">
  <div class="container dark-grey-text">
    <div class="card p-5 border border-primary shadow p-3 mb-5 bg-body rounded">
      <h1 class="text-primary font-weight-bold mb-5 text-center"><%= @product.name%></h1>
      <div class="row wow fadeIn">
        <div class="col-md-6 mb-4">
          <% if @product.picture.attached? %>
            <%= cl_image_tag @product.picture.key, alt: "alttext", class: "rounded mx-auto d-block border border-primary mx-auto img-fluid" %>
          <% end %>
        </div>

        <div class="col-md-6 mb-4">
          <div class="p-4">
            <p class="lead"><span class="font-weight-bold text-success"><%= @product.unit_price_cents%> € par unité</span></p>
            <p class="lead font-weight-bold mt-5">Description</p>
            <p><%= @product.description %></p>
            <p class="lead font-weight-bold mt-5">Fabricant</p>
            <p><%= @product.brand %></p>
            <p class="lead font-weight-bold mt-5">Rating moyen</p>
            <p><%= @average_rating %></p>
            <%= link_to "Avoir un Devis", new_product_order_path(@product), class: "btn btn-primary mt-4" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center py-4">
        <h2>Informations complémentaires</h2>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
        <div class="text-center shadow card border-primary">
          <div class="card-body">
            <span style="font-size: 48px; color: #004696;">
              <i class="fas fa-shipping-fast"></i>
            </span>
            <h4 class="lead font-weight-bold mb-3">Livraison</h4>
            <p>Rapide en moins 48h</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
        <div class="text-center shadow card border-primary">
          <div class="card-body">
            <span style="font-size: 48px; color: #004696;">
              <i class="fas fa-copyright"></i>
            </span>
            <h4 class="lead font-weight-bold mb-3">Marque</h4>
            <p><%= @product.brand %></p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
        <div class="text-center shadow card border-primary">
          <div class="card-body">
            <span style="font-size: 48px; color: #004696;">
              <i class="fa fa-cubes "></i>
            </span>
            <h4 class="lead font-weight-bold mb-3">Stock disponible</h4>
            <p><%= number_with_delimiter(@product.available_quantity, delimiter: " ") %> produits</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center py-4">
        <h2>Recommendations</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="p-3 row row-cols-2 row-cols-md-4 g-4">
    <% @recommanded_products.each_with_index do |recommanded_product, index| %>
      <% active = index == 0 ? "active" : "" %>
        <% if recommanded_product.picture.attached? %>
        <div class="col">
          <div class="card border border-primary shadow-sm" id="cardgrid">
            <% if recommanded_product.picture.attached? %>
              <%= cl_image_tag recommanded_product&.picture.key, alt: "alttext", class: "card-img-top img-fluid" %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title text-primary font-weight-bold"><%= recommanded_product.name %></h5>
              <p class="card-content"><%= recommanded_product.brand %></p>
              <h5 class="text text-center"><b>Prix/unité <%= recommanded_product.unit_price_cents %> €</b></h5>
              <div class="row justify-content-center">
               <%= link_to "Voir le produit", product_path(recommanded_product), class: "btn btn-outline-primary w-75" %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</main>

