<!DOCTYPE html>
<html>
  <head>
    <title>MySourcingCom</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-around py-2 bg-white sticky-top">
      <a href="/" class="d-flex align-items-center">
        <%= image_tag "Mon sourcing.com.png", alt: "MS.com", class: "bi me-2 logo justify-content-center w-50"%>
      </a>

      <ul class="nav col-12 col-md-auto justify-content-center">
        <li><a href="/" class="nav-link px-2 link-secondary">Accueil</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Devenir vendeur</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Demande de sourcing</a></li>
      </ul>
      
      <%= render 'shared/navbar' %>
    </header>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <footer class="footer">
      <div class="container bg-black">
        <span class="text-muted">Footer à faire.</span>
      </div>
    </footer>
  </body>
</html>
